name: Lint AdBlock List

on:
 pull_request:
 branches:
 - main
 push:
 branches:
 - main

permissions:
 contents: read

env:
 FILENAME: alexanderadam.txt

jobs:
 lint:
 runs-on: ubuntu-latest
 steps:
 - name: Checkout repository
 uses: actions/checkout@v4.2.2

 - name: Setup Node.js
 uses: actions/setup-node@v4.1.0
 with:
 node-version: '18'

 - name: Install dependencies
 run: yarn install
 # https://github.com/AdguardTeam/AGLint?tab=readme-ov-file#introduction

 - name: Run linting
 run: yarn aglint ${{ env.FILENAME }}
