name: Update Adblock List Metadata

on:
 push:
 branches:
 - main

jobs:
 update-metadata:
 runs-on: ubuntu-latest
 steps:
 - name: Checkout repository
 uses: actions/checkout@v2

 - name: Setup Node.js
 uses: actions/setup-node@v2
 with:
 node-version: '18'

 - name: Install dependencies
 run: yarn install

 # https://github.com/AdguardTeam/AGLint?tab=readme-ov-file#introduction
 - name: Run linting
 run: yarn aglint alexanderadam.txt

 - name: Update metadata
 run: |
 sed -i 's/! Last modified: .*/! Last modified: $(date +%Y-%m-%d)/' alexanderadam.txt

 - name: Commit and push if changed
 env:
 ACTIONS_PAT: ${{ secrets.ACTIONS_PAT }}
 run: |
 git config --global user.email "action@github.com"
 git config --global user.name "GitHub Action"
 git add alexanderadam.txt
 git commit -m "Update metadata" || exit 0 # Exit gracefully if no changes
 git push https://x-access-token:${{ secrets.ACTIONS_PAT }}@github.com/alexanderadam/adblock_list.git
